/**
 * Import font Poppins
 *
 * @format
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700;&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
/* Tailwind + DaisyUI */
@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true, dark --prefersdark;
  --color-primary: #10bb82;
  --color-primary-content: oklch(98% 0.01 160);
  --color-secondary: #31edae;
  --color-secondary-content: oklch(98% 0.01 160);
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #10bb82;
  --color-primary-content: oklch(98% 0.01 160);
  --color-secondary: #31edae;
  --color-secondary-content: oklch(98% 0.01 160);
}

/* Set default font untuk seluruh project */
:root {
  font-family: "Plus Jakarta Sans";

  /* font-family: "Manrope"; */
}

html {
  scroll-behavior: smooth;
}

/* Tambahkan di global CSS */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes floatDelayed {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-float-delayed {
  animation: floatDelayed 3s ease-in-out infinite;
  animation-delay: 1.5s;
}
